<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>major:</strong>
  <%= @student.major? %>
</p>
<div class="btn-defaut">
  <button type="button" class="btn btn-link"><%= link_to 'Back', students_path %></button>
  <button type="button" class="btn btn-info"><%= link_to 'Edit', edit_student_path(@student) %></button>
</div>